* {
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272727;

}

.container {
    width: 45rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    background: linear-gradient(#424242, #272727);
   
} 


.title-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.38rem;
    margin-bottom: 2.9rem;
}

.title-result span {
    color: #fff;
    font-size: 4.9rem;
    font-weight: 700;
    
    
}

.button-container {
    display: flex;
    gap: 2.25rem;
}

.button-container button {
    width: 10.3rem;
    height: 2.7rem;
    border: none;
}

.button-01 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fafafa;
    background: #CF96AA;;
    border-radius: 3px;
    box-shadow: 3px 3px 5px black;
}

.button-02 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #272727;
    background: #f2ecd9;
    border-radius: 3px;
    box-shadow: 3px 3px 5px black;
  
}

.button-03 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #E3E3E3;
    background: #302C5F;
    border-radius: 3px;
    box-shadow: 3px 3px 5px black;
}






@media (max-width: 700px) {
    .container {
       width: 30rem;
       height: 25rem;
    }

    .title-result span {
        font-size: 3rem;
    }

    .button-container button {
        
        width: 7rem;
    }
        
    .button-01 {
        font-size: 0.8rem
    }

    .button-02 {
        font-size: 0.8rem
    }

    .button-03 {
        font-size: 0.8rem
    }


    @media (max-width: 500px) {
        .container {
            width: 23rem;
            height: 20rem;
        }
    
        .title-result span {
            font-size: 3rem;
        }
    
        .button-container button {
            
            width: 5.5rem;
        }
            
        .button-01 {
            font-size: 0.6rem
        }
    
        .button-02 {
            font-size: 0.6rem
        }

        .button-03 {
            font-size: 0.6rem
        }
    };
};


